/* Windows XP Style */

.window {
    padding-top: 40px;
}

.window .drag-handle {
    background-color: #3B77BC;
    padding: 10px 0;
    color: white;
    text-align: left;
    height: unset;
}

.window .drag-handle .titlebar-content {
    padding-left: 10px;
}

/* END Windows XP Style */