// $primary is a Bulma override, everything else is native to AeonLabs Sass
$primary: #7f00ff;
$primary-alt: #9429ff;
$secondary: #FF7F00;
$accent: #00FF7F;

/* $secondary-invert: findColorInvert($secondary);
$secondary-light: findLightColor($secondary);
$secondary-dark: findDarkColor($secondary); */

$primary-gradient: linear-gradient(to bottom right, $primary 0%, $primary-alt 60%);
$primary-gradient-right: linear-gradient(to right, $primary 0%, $primary-alt 60%);

$success: #48c774;
$info: #3298dc;
//$warning: #ffdd57;
$warning: #ffa500;
$danger: #f14668;

//$text: #212121; // Default is $grey-dark (#4a4a4a)
$text: #fff;
$title-color: #fff;
$title-size: 2.1rem;
$title-family: "Nexa Bold", sans-serif;

// Bulma card overrides
//$card-radius: 5px;
//$card-background-color: #fff; // Not in use, uses bulma default

// Bulma tag overrides
//$tag-radius: 6px;

// Default button radius
$button-radius: 4px;

// Inputs
$input-focus-border-color: $primary;

// Switch Checkboxes
$input-switch-background-color: #b5b5b5;
$input-switch-active-background-color: $primary;

$navbar-background-color: rgba(255, 255, 255, 0.85);
$navbar-box-shadow: rgba(21, 23, 26, 0.06) 0px 0.7rem 1.3rem 0px, rgba(21, 23, 26, 0.12) 0px 1rem 2.2rem 0px, rgba(21, 23, 26, 0.12) 0px -1rem 2.2rem 0px, rgba(21, 23, 26, 0.04) 0px -1px 0px 0px;
$navbar-icon-color: rgb(33 33 33 / .75);

$navbar-dropdown-item-icon-color: #999;

// Bulma body background colour
//$body-background-color: #f4f3f9;
$body-background-color: #252f3e;
//$body-background-color-dark: #21262f;

// Set Bulma secondary font family
$family-secondary: "Basier Circle";

// Bulma menu overrides
$menu-item-active-background-color: $primary;
$menu-item-radius: 4px;

// Bulma dropdown overrides
$dropdown-item-active-background-color: $primary;
$dropdown-content-radius: 10px;
$dropdown-content-background-color: #19202b;
//$dropdown-item-color: #999;

$footer-text-color: #545454;
$footer-background-color: rgb(250 250 250 / 60%);

// Window Shell
$window-background-color: rgba(255, 255, 255, 0.9);
$window-box-shadow: rgb(21 23 26 / 6%) 0px 0.7rem 1.3rem 0px, rgb(21 23 26 / 12%) 0px 1rem 2.2rem 0px, rgb(21 23 26 / 4%) 0px -1px 0px 0px;

// Toasts
$toast-title-color: #212121;
$toast-message-color: rgba(0, 0, 0, .6);
$toast-background-color: $navbar-background-color;
$toast-box-shadow: $navbar-box-shadow;
$toast-icon-color: $navbar-icon-color;

// Modals
$modal-title-color: rgb(25, 28, 31);
$modal-subtitle-color: $modal-title-color;
$modal-background-color: #fff;