body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    user-select: none;
}

#appContainer {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-image: url('assets/wallpapers/default.jpg');
}

#osDesktop span {
    position: fixed;
    color: white;
    text-align: center;
    padding: 15px;
}

#osDesktop span i {
    font-size: 46px;
}

#osDesktop .desktop-icon.highlight {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

#osTaskbar {
    bottom: 0;
    width: 100vw;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.2);
    border: 1px black solid;
    position: fixed;
    left: 0;
    padding-left: 70px;
}

#osTaskbar .item {
    width: max-content;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 5px;
    padding: 5px 10px;
    position: relative;
    top: 10px;
}

#osTaskbar .menu {
    position: absolute;
    left: 0;
    padding: 5px 20px;
    color: white;
    font-size: 32px;
}

#menu {
    height: 500px;
    width: 400px;
    position: fixed;
    bottom: 40px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 20px;
}

#menu ul {
    padding-inline-start: 0;
    margin-right: 20%;
}

#menu ul li {
    color: white;
    border: 1px white solid;
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.is-hidden {
    display: none !important;
}

.window {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    border: 1px black solid;
    border-radius: 10px;
    position: fixed;
    height: 300px;
    width: 500px;
    padding-top: 30px;
    overflow: hidden;
}

.window .drag-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    cursor: grab;
    height: 25px;
    padding-top: 5px;
}

.window .drag-handle:active {
    cursor: grabbing;
}

.window .drag-handle span.close {
    right: 10px;
    position: absolute;
    cursor: pointer;
}