.dropdown-content {
    text-align: left;
    //border: 1px solid #ededed;
    //box-shadow: 0 3px 10px 4px rgb(0 0 0 / 4%);

    //padding: 10px;

    .dropdown-item {

        padding: 0.6rem 3rem 0.6rem 1.5rem;
        margin: 5px 0;

        font-size: 1.1rem;

    }

}