#osDesktop {
    .grid-stack-item-content {
        
        //color: rgb(29, 29, 29);
        //background-color: #fff;
        color: #fff;
        background-color: #19202b;
        border: 1px solid #212a38;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        /* padding: 1rem; */
        border-radius: 10px;
        overflow: hidden;

        .title {
            color: #fff
        }

    }
}